/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 100px;
    background-color: #fff;
}

img {
    height: 60px;
}



/* Main */
main {
    height: calc(100vh - 180px);
    background-color: darksalmon;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

.cell {
    border: 2px solid gold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-100 {
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.cell-81 {
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.cell-49 {
    height: calc(100% / 7);
    width: calc(100% / 7);
}

.selected {
    background-color: lightskyblue;
}


/* Footer */
footer {
    height: 80px;
    background-color: #fff;
}

footer p {
    line-height: 80px;
    vertical-align: middle;
}